/*Página*/
 body{
    display: block;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    width: 85%;
    padding: 10px 100px 10px 100px;
    background-image: url('imagens/fundo.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

/*Cabeçalho*/
head{

}
.container{
    top: -18px;
    display: flex;
    padding: 20px;
    background-color: #0099ff;
    border-radius: 0 0 20px 20px;
    box-shadow: black 0em 1em 01em;
}
.logo, .logo1{
    width: 150px;
    left: 100px;
}
.pesquisa1{
    width: 75%;
    display: inline-flex;
    align-items: center;
    left: 190px;
}
#pesquisaInput{
    border-radius: 40px;
    width: 400px;
    height: 40px;
}
.botaoPesquisa{
    fill: currentColor;
    height: 25px;
    width: 25px;
    color: #666666;
    line-height: 24px;
    right: 40px;
}
#redes{
    width: 130px;
    left: 90px;
}
.redesInsta, .redesWhat{
    width: 30px;
    margin: 3px;
}
.redesFace{
    width: 38px;
}
.sobre{
    width: 400px;
    left: 22px;
    padding: 0px;
    font-size: 20px;
    list-style: none;
}
.liSobre{
    display: inline;
    margin-left: 35px;
}
.container, .logo, .pesquisa1, #pesquisaInput, .botaoPesquisa, #redes, .sobre{
    position: relative;
}
h1, h2, .botao1, .botao2, #pesquisaInput{
    text-align: center;
} 

/*Conteudo da pagina*/

h1{
    position: relative;
    top: 40px;
    left: 29%;
    width: 50%;
    height: 40px;
    text-shadow: rgb(7, 217, 224) 0.0em 0.0em 0.5em;
    color: rgb(255, 255, 255);
    margin-bottom: -10px;
}
.conteudo{
    display: flex;
    position: relative;
    padding: 5px; 
    top: 70px;
    align-items: center;
}
h2{
    color: black;
    font-style: oblique;
}
blockquote{
    box-shadow: black 0.2em 0.9em 0.5em;
    background-color: #666666;
    width: 50%;
    border-radius: 10px; 
    padding: 10px;
}
.imagemIT{
    position: relative;
    top: 10px;
    width: 33%;
    height: 350px;
    left: 40px;
    border-radius: 2cm;
}
.meioVideoBotao{
    position: relative;
    left: 90px;
    top: 180px;
}
.botao1, .botao2{
    width: 15%;
    background-color: #aaaaaa;
    border: 2px solid #666666;
    border-radius: 10px;
    font-family: arial,sans-serif;
    font-size: 20px;
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    user-select: none;
}
.botao1{
    position: relative;
    left: 38%;
    top: -530px;
}
.botao2{
    position: relative;
    top: 70px;
    right: 38%;
}
video{
    position: relative;
    box-shadow: black 0.2em 0.5em 0.5em;
    border-radius: 10px;
    width: 60%;
    height: 485px;
}
.botao1:hover, .botao2:hover, .liSobre:hover, .redesFace:hover, .redesInsta:hover, .redesWhat:hover, .botaoPesquisa:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
a{
    color: black;
    text-decoration: inherit;
}
a:hover{
    color:rgb(253, 253, 253);
}
.botao1:hover, .botao2:hover{
    background-color: rgb(16, 212, 104);
}

/*Fim da página*/
footer{
    
}

/*Mobile*/
@media (max-width:1100px){
    body{
        padding: 3px;
    }
    .container{
        width: 389px;
        height: 140px;
        top: -18px;
        padding: 20px;
    }
    .logo, .logo1{
        width: 100px;
        left: 141px;
        top: 5px;
    }
    .container, .pesquisa1{
        display: block;
    }
    .pesquisa1{
        width: 75%;
        left: 87px;
        top: 15px;
    }
    #pesquisaInput{
        width: 200px;
        height: 22px;
    }
    .botaoPesquisa{
        height: 20px;
        width: 20px;
        left: 170px;
        top: -21px;
    }
    .sobre{
        width: 400px;
        left: 0px;
        top: -20px;
        font-size: 10px;
    }
    .liSobre{
        display: inline;
        margin-left: 15px;
    }
    #redes{
        width: 90px;
        left: 58px;
        top: -20px;
    }
    .redesInsta, .redesWhat{
        width: 20px;
    }
    .redesFace{
        width: 25px;
    }
    h1{
        font-size: 20px;
        width: 400px;
        left: 14px;
        top: 7px;
    }
    .conteudo{
        display: block;
        padding: 0px;
        top: 70px;
        align-items: center;
        width: 441px;
    }
    blockquote {
        width: 400px;
        border-radius: 10px;
        padding: 10px;
        left: -39px;
        top: -37px;
        position: relative;
    }
    .imagemIT{
        display: none;
    }
    .botao1{
        left: 35px;
        top: -120px;
        width: 177px;
    }
    video{
        width: 389px;
        height: 223px;
        top: -85px;
        left: -75px;
    }
    .botao2 {
        top: -46px;
        right: -32px;
        width: 177px;
    }
}




/*
.fimLogo{
    width: 50%;
    margin-left: 10px;
}
.fimListAjuda, .fimListUteis, .fimRede{
    margin: 40px 50px 0 0;
    font-size: 15px;
}
.fim2{
    padding-left: 5%;
}
.fim4{
    width: 500px;
    position: absolute;
    margin: 0 0 0 720px;
}
.fim5{
    align-items: center;
    position: absolute;
    margin: 13% 19% 0 10%;
    color: black !important;
}
h4 {
    position: absolute;
    font-family: hind,sans-serif;
    color: #ffffff;
    margin: 10px 0 0 100px;
    font-size: 20px;
}
.fimAUJ{
    padding-left: 5%;
    border-radius: 10px;
    font-size: 20px;
    display: inline-flex;
    width: 100%;
    height: 170px;
    box-shadow: hsl(182, 88%, 35%) 0.0em 0.9em 2em;
    background-color: #666666;
    border: 2px solid rgb(6, 157, 228);
}
.fim, .fim1 .fim3, .fim5{
    display: inline-flex;
}
.fim{
    width: 110%;
    height: 150px;
}
li{
    list-style: none;
}
footer {
    width: 85%;
    height: 150px;
    color: #888;
    margin: 52px 0 0 0;
    line-height: 20px;
}
*/




