/*Página*/
 body{
    display: block;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    width: 85%;
    padding: 100px;
    background-image: url('imagens/fundo.jpg');
    background-repeat: infinite;
    background-size: cover;
}

/*Cabeçalho*/
head{

}
.container{
    display: inline-flex;
}
.logo{
    width: 150px;
}
.pesquisa1{
    position: relative;
    display: inline-flex;
    align-items: center;
    left: 100px;
}
#pesquisaInput{
    position: relative;
    text-align: center;
    border-radius: 40px;
    width: 400px;
    height: 40px;
}
.botaoPesquisa{
    position: relative;
    fill: currentColor;
    height: 25px;
    width: 25px;
    color: #666666;
    line-height: 24px;
    right: 40px;
}
#redes{

}
.redesInsta, .redesWhat{
    width: 30px;
    padding: 1px;
    margin: 3px;
}
.redesFace{
    width: 38px;
}
.sobre{
    display: inline-flex;
    font-size: 20px;
    padding: 10px;
    left: 100px;
    list-style: none;
}
.liSobre{
    display: inline-flex;
    margin-left: 40px;
    margin-top: 10px;
}
















/*
h1, h2, .botao1, .botao2, #pesquisaInput, .redes{
    text-align: center;
} 


*/




/*Conteudo da pagina*/

.botao1:hover, .botao2:hover, .liSobre:hover, .redesFace:hover, .redesInsta:hover, .redesWhat:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
a{
    color: black;
    text-decoration: inherit;
}
a:hover{
    color:rgb(253, 253, 253);
}
.botao1:hover, .botao2:hover{
    background-color: rgb(16, 212, 104);
}
/*
.conteudo{
    display: flex;
    padding: 10px; 
}
h1{
    text-shadow: rgb(7, 217, 224) 0.0em 0.0em 0.5em;
    color: rgb(255, 255, 255);
    margin-bottom: -10px;
}
h2{
    color: black;
    font-style: oblique;
}
blockquote{
    box-shadow: black 0.2em 0.9em 0.5em;
    background-color: #666666;
    width: 50%;
    border-radius: 10px; 
    padding: 10px; 
    margin-left: 0;
}
.imagemIT{
    width: 40%;
    height: 450px;
    margin-top: 40px;
    border-radius: 2cm;
}
.botao1, .botao2{
    margin: 10px 0 0 40%;
    width: 15%;
    background-color: #aaaaaa;
    border: 2px solid #666666;
    border-radius: 10px;
    font-family: arial,sans-serif;
    font-size: 20px;
    padding: 5 15px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}
video{
    box-shadow: black 0.2em 0.5em 0.5em;
    border-radius: 10px;
    margin: 15px 0 0 13%;
    width: 70%;
    height: 500px;
}
*/

/*Fim da página*/
footer{
    
}

/*Mobile*/
@media (max-width:1100px){

}




/*
.fimLogo{
    width: 50%;
    margin-left: 10px;
}
.fimListAjuda, .fimListUteis, .fimRede{
    margin: 40px 50px 0 0;
    font-size: 15px;
}
.fim2{
    padding-left: 5%;
}
.fim4{
    width: 500px;
    position: absolute;
    margin: 0 0 0 720px;
}
.fim5{
    align-items: center;
    position: absolute;
    margin: 13% 19% 0 10%;
    color: black !important;
}
h4 {
    position: absolute;
    font-family: hind,sans-serif;
    color: #ffffff;
    margin: 10px 0 0 100px;
    font-size: 20px;
}
.fimAUJ{
    padding-left: 5%;
    border-radius: 10px;
    font-size: 20px;
    display: inline-flex;
    width: 100%;
    height: 170px;
    box-shadow: hsl(182, 88%, 35%) 0.0em 0.9em 2em;
    background-color: #666666;
    border: 2px solid rgb(6, 157, 228);
}
.fim, .fim1 .fim3, .fim5{
    display: inline-flex;
}
.fim{
    width: 110%;
    height: 150px;
}
li{
    list-style: none;
}
footer {
    width: 85%;
    height: 150px;
    color: #888;
    margin: 52px 0 0 0;
    line-height: 20px;
}
*/




